{% extends 'base.html' %}
{% block title %}
    About    
{% endblock title %} 
{% block About %}
active
{% endblock About %}
{% block body %}
  <div class="container">
    <h1>Welcome to About-us Page</h1>
    <br>
    <p>"At S.T.I. Karad, we're on a mission to empower individuals and organizations through education and skill development. With a strong commitment to excellence and innovation, we provide a wide range of courses and training programs tailored to meet the evolving needs of today's dynamic job market. Our experienced team of instructors, cutting-edge facilities, and industry-relevant curriculum ensure that our students receive a world-class learning experience. We take pride in being the catalyst for positive change in the lives of our students, helping them unlock their full potential and pursue successful careers. Join us at S.T.I. Karad, and let's embark on a transformative educational journey together."
    </p>
  </div>  
{% endblock body %}